<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>To Do List</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">WIW</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <br />
    <br />

    <div class="container">
      <div class="card shadow rounded mb-5">
        <div class="card-body p-4">
          <h3>Form DATA_TITLE Pasien</h3>
          <hr class="my-3">
          <form method="POST" action="DATA_LINK">
            <div class="row">
              <div class="form-group col-12">
                <label for="nik">NIK</label>
                <input
                  type="text"
                  class="form-control"
                  name="nik"
                  placeholder="Masukkan NIK"
                  value="DATA_VAL_NIK"
                />
              </div>
              <div class="form-group col-6">
                <label for="nama">Nama</label>
                <input
                  type="text"
                  class="form-control"
                  name="nama"
                  placeholder="Masukkan Nama"
                  value="DATA_VAL_NAMA"
                />
              </div>
              <div class="form-group col-6">
                <label for="tempat">Tempat</label>
                <input
                  type="text"
                  class="form-control"
                  name="tempat"
                  placeholder="Masukkan Tempat"
                  value="DATA_VAL_TEMPAT"
                />
              </div>
              <div class="form-group col-6">
                <label for="tl">Tanggal Lahir</label>
                <input type="date" name="tl" class="form-control" value="DATA_VAL_TL" />
              </div>
              <div class="form-group col-6">
                <label for="gender">Gender</label>
                <select name="gender" class="form-control" id="gender">
                  OPTIONS_GENDER
                </select>
              </div>
              <div class="form-group col-6">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  placeholder="example@gmail.com"
                  value="DATA_VAL_EMAIL"
                />
              </div>
              <div class="form-group col-6">
                <label for="telp">Nomor Telepon</label>
                <input
                  type="text"
                  name="telp"
                  class="form-control"
                  placeholder="Masukkan Nomor Telepon"
                  value="DATA_VAL_TELP"
                />
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <a href="index.php" class="btn btn-secondary mr-3">Kembali</a>
              DATA_BUTTON
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
